*~
*.pyc
*.orig
__pycache__/
_*/
Debug/
Release/
build/linux
build/mac
build/win
build/android
documentation/build
documentation/source/_build
external
test/third_party
.vscode
*.aps
*.DS_Store
*.swp
cmake-build*/
Buildinfo.properties
.idea/
.vs/
out/
CMakeSettings.json
enc_temp_folder/
